---
---

<article class="petition">
  <h2 id="save-fair-use">Hours left: Help us bring fair use back to the Internet</h2>
  <p>
    Every time a tweet is written or a video is posted to YouTube, trolls and corporate copyright holders see a way to abuse a law called the DMCA to stifle speech they don’t like, cut out their competitors or critics, or fleece someone for profit. They're even using robots to automatically take down other people’s work. Free speech and fair use are under attack, but now we have an opportunity to fight back! Right now, the U.S. Copyright Office wants to hear <a href="https://www.federalregister.gov/articles/2015/12/31/2015-32973/section-512-study-notice-and-request-for-public-comment" target="_blank">what's wrong with the DMCA</a> and they need your input <strong>before end of day on Friday.</strong>

  </p>
  <p class="petition-statement">
    <strong>Tell the Copyright Office: stop bogus DMCA takedowns and protect free speech!</strong>
  </p>
  {% include form.html %}
</article>


<article>
  <h2 id="why-this-matters">What's at stake</h2>
  <p>
    The Internet flourishes because all of the stuff people make and share. But, there's a force that has kept works off the Internet entirely,
    making it so that there's a whole host of content that most us never get to see or hear.  The current notice and takedown system for copyright
    unnecessarily
    allows for abuse. With the current DMCA rules, copyright holders can censor and takedown practically any online content,
    just by <strong>saying</strong> that it infringes their copyright&mdash;no court order or oversight required. <strong>It's time to bring fair use back to the Internet.</strong>
  </p>
  <p>
    The DMCA was created to help curb
    piracy, but all too often it is abused to censor content with valid free speech or fair use rights. Video and music creators are having their
    work taken down and their income stolen by big corporations who bet that nobody has the legal resources to challenge them. And even when people
    successfully challenge a takedown and get their work restored, oftentimes there is lasting harm done to their reputation or income.
  </p>
  <p>

    It's time to take a hard look
    at the DMCA. A clear fix to the current system is to impose penalties on corporations who abuse the DMCA by issuing false takedowns.
    <br/><br/>
  </p>

  <figure class="oliver">
    <div class="video">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/NoIL5qUI1p8" frameborder="0" allowfullscreen></iframe>
    </div>
  </figure>
</article>

{% include share.html %}
