---
---

<article class="petition">
  <h2 id="save-fair-use">Still time &mdash; Don't let bad actors take down creativity on the Internet.</h2>
  <p>
    For every tweet or video posted, there are bad actors who see a way to abuse a law called the DMCA to take down their competitors and critics, oftentimes using robots to take down huge amounts of content at once.  Right now the U.S. Copyright Office is <a href="https://www.federalregister.gov/articles/2015/12/31/2015-32973/section-512-study-notice-and-request-for-public-comment" target="_blank">holding meetings</a> to decide the future of the DMCA. They need to hear from enough of us calling for fair use to be restored, or the DMCA could become even worse. Send your comment now!

  </p>
  <p class="petition-statement">
    <strong>Tell the Copyright Office: stop bogus DMCA takedowns and protect free speech!</strong>
  </p>
  {% include form.html %}
</article>


<article>
  <h2 id="why-this-matters">What's at stake</h2>
  <p>
    The Internet flourishes because of all of the stuff people make and share. But, there's a force that has kept works off the Internet entirely,
    making it so that there's a whole host of content that most us never get to see or hear.  The current notice and takedown system for copyright
    unnecessarily
    allows for abuse. With the current DMCA rules, copyright holders can censor and takedown practically any online content,
    just by <strong>saying</strong> that it infringes their copyright&mdash;no court order or oversight required. <strong>It's time to bring fair use back to the Internet.</strong>
  </p>
  <p>
    The DMCA was created to help curb
    piracy, but all too often it is abused to censor content with valid free speech or fair use rights. Video and music creators are having their
    work taken down and their income stolen by big corporations who bet that nobody has the legal resources to challenge them. And even when people
    successfully challenge a takedown and get their work restored, oftentimes there is lasting harm done to their reputation or income.
  </p>
  <p>

    It's time to take a hard look
    at the DMCA. A clear fix to the current system is to impose penalties on corporations who abuse the DMCA by issuing false takedowns.
    <br/><br/>
  </p>

  <figure class="oliver">
    <div class="video">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/NoIL5qUI1p8" frameborder="0" allowfullscreen></iframe>
    </div>
  </figure>
</article>

{% include share.html %}
