---
---

<article class="petition">
  <h2 id="save-fair-use">Help us fight the copyright industry!</h2>
  <p>
    In May, the U.S. Copyright Office will be conducting closed-door sessions with huge corporate copyright holders to discuss the future of the DMCA. They want to make it even easier to take content down and keep it down, turning the Internet into a graveyard for Free Speech. But thanks to the 100,000 people who sent comments, Fight for the Future and Channel Awesome have a seat at the table!
    Now, we need your help to takedown the copyright industry's most bogus claim: that online streaming hurts profits.
  </p>
  <p class="petition-statement">
    <strong>Everyone knows that online Fair Use and remixing of copyrighted material is actually free marketing for copyright owners, but we need your comments to prove it. Have you ever purchased content after seeing a review, let's play,remix,cover or parody on YouTube or some other video site? Share your story here!</strong>
  </p>
  {% include form.html %}
</article>

<article>
  <h2 id="free-speech-graveyard">Takedown abuse has gone too far.</h2>
  <p>
    For years, huge companies like Sony, Disney, and Comcast have been abusing the DMCA to take down enormous swaths of online content, using automated software that ignores Fair Use rights and frequently misidentifies music and videos as copyrighted. Despite the fact that the system is already weighted in their favor, these companies are arguing that the DMCA doesn’t go far enough to give them control over online content.
  </p>
</article>

<article class="stories">
  <h2 id="dmca-horror-stories">DMCA Horror Stories</h2>
  <h3>I Hate Everything Vs. Cool Cat</h3>
  <p>In 2015 a Youtuber named Alex (aka ‘<a href="https://www.youtube.com/channel/UCRbOPaGDB_xOQkVM8Rnn62Q" target="_blank">I Hate Everything</a>’) uploaded a comedic review of the Derek Savage’s “<a href="https://www.youtube.com/watch?v=HoTZZYm2HZI" target="_blank">Cool Cat Saves The Kids</a>” a low budget so-bad-its-good movie about an anthropomorphic talking cat that teaches kids life lessons. Many other Youtubers had taken their turn reviewing the movie, and some of them even got friendly endorsements from Savage himself, but something about Alex’s review rubbed Savage the wrong way, and he quickly descended into dirty tactics to have Alex’s hyper-critical review scrubbed from the internet under the pretense that Alex was violating copyright laws by using clips from Savage’s movie in his review.</p>
  <p>Savage’s weapon of choice was the often abused use of a DMCA take down. Youtube promptly pulled Alex’s review from the internet and slapped his account with a copyright violation strike. 3 strikes and Alex’s channel would be pulled offline. Savage continued to threaten and harass Alex with further legal action, and more attempts to have his account removed from youtube. This is a common and vicious form of censorship, that is unfortunately built in to current copyright law. While Alex’s review may have been harsh, he was in no way violating copyright laws. His video fell under <a href="http://fairuse.stanford.edu/overview/fair-use/four-factors/" target="_blank">The Transformative Factor</a> of <a href="https://en.wikipedia.org/wiki/Fair_use" target="_blank">Fair Use</a>.</p>
  <p>The damage that Alex’s review caused to Savage's ego was far less than the damage that would have been caused to Alex’s livelihood if Savage had successfully gotten Alex’s account suspended. Alex’s Youtube channel in his own words is “...my life, my welfare. I’ve been building it for years. Pouring blood, sweat, and tears into nearly every hour of every day. It means everything to me.”</p>
  <p><a href="https://docs.google.com/forms/d/18z4-YyRmhJvjm4U5htHVVcXM2wpE_IiidXfHH9Jn0JU/viewform" target="_blank">Submit your own DMCA Horror Story!</a></strong><br/>(More stories coming soon!)</p>
</article>

<article class="dark">
  <h2 id="why-this-matters">What's at stake</h2>
  <p>
    The Internet flourishes because of all of the stuff people make and share. But, there's a force that has kept works off the Internet entirely,
    making it so that there's a whole host of content that most us never get to see or hear.  The current notice and takedown system for copyright
    unnecessarily
    allows for abuse. With the current DMCA rules, copyright holders can censor and takedown practically any online content,
    just by <strong>saying</strong> that it infringes their copyright&mdash;no court order or oversight required. <strong>It's time to bring fair use back to the Internet.</strong>
  </p>
  <p>
    The DMCA was created to help curb
    piracy, but all too often it is abused to censor content with valid free speech or fair use rights. Video and music creators are having their
    work taken down and their income stolen by big corporations who bet that nobody has the legal resources to challenge them. And even when people
    successfully challenge a takedown and get their work restored, oftentimes there is lasting harm done to their reputation or income.
  </p>
  <p>

    It's time to take a hard look
    at the DMCA. A clear fix to the current system is to impose penalties on corporations who abuse the DMCA by issuing false takedowns.
    <br/><br/>
  </p>

  <figure class="oliver">
    <div class="video">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/NoIL5qUI1p8" frameborder="0" allowfullscreen></iframe>
    </div>
  </figure>
</article>

{% include share.html %}
