<form action="https://actionnetwork.org/petitions/reform-the-dmca/signatures" method="post" title="Save the lock" data-identifier="59a1bb6c-c69e-4e76-bffc-00ca3252d515" data-host="{{ site.petitions_api }}">
  <label for="select-country" id="hidden-country">
    Not in the US?
    <input type="hidden" value="US" name="answer[country]" />
  </label>

  <label class="visually-hidden" for="form-email">Your email address:</label>
  <input type="email" id="form-email" name="answer[email]" placeholder="Email address" required/>

  <label class="visually-hidden" for="form-first_name">Your name (required):</label>
  <input type="text" id="form-first_name" name="answer[first_name]" placeholder="Name (required)"/>

  <label class="visually-hidden" for="form-zip_code">Your ZIP:</label>
  <input type="text" id="form-zip_code" name="answer[zip_code]" placeholder="ZIP" required/>

  <select id="select-country">
    {% for country in site.data.countries %}
    <option value="{{ country[0] }}" {% if country[0] == 'US' %} selected{% endif %}>
    {{ country[1] }}
    </option>
    {% endfor %}
  </select>

  <label for="form-comments">Your comment (required)</label>
  <textarea name="signature[message_to_target]" id="form-comments" cols="46" rows="3" placeholder="Your comment (required)">The notice-and-takedown process under the Digital Millennium Copyright Act (DMCA) is heavily biased in favor of corporate copyright holders and too commonly used to censor content that is protected under fair use. This system has had dire effects on political expression, creativity, and commercial innovation on the Internet. The DMCA needs new safeguards to protect against abuse and companies that infringe on users’ free speech need to be held responsible.

Companies are using computer algorithms to scan content posted to the Internet for possible copyright violations and issue automated takedowns. This process is vulnerable to significant error and does not allow for judgements to be made about possible fair use exceptions, therefore resulting in the censorship of vast amounts of legitimate (i.e. legal) speech and creative expression on the Internet.

According to a recent study from Berkeley and Columbia law professors, nearly 30 percent of takedown notices are of questionable validity and would benefit from human review.

While the DMCA’s safe harbor provisions are important for making an open, participatory Internet possible, the notice-and-takedown procedures that have been developed alongside them have disproportionately benefited corporate copyright holders and copyright trolls who seek to shut down legitimate competition and extract money from innocent victims.

The notice-and-takedown process puts the most important types of content at risk. Political speech can be censored at crucial moments in a campaign. Videos can be taken offline at moments when they are crucial for the survival of small businesses. This kind of damage can not be undone.

To balance the process, copyright holders need to have more responsibility for considering fair use when enforcing copyright laws. As sites like YouTube, Facebook, and Twitter have become important public spaces, companies that issue takedown notices of content that is clearly protected by fair use should be held liable for violating individuals’ rights to free speech.

Balance is desperately needed in the notice and takedown system. One step to creating that balance is to  impose statutory damages for companies that abuse the DMCA takedown process or fail to adhere to any fair use review. In particular, automated takedowns must be discouraged as they inhibit free speech and fair use of copyrighted works.</textarea>

  <input type="submit" id="im-in" value="I’m in" name="commit" />
  <p class="disclaimer">
    <a href="https://fightforthefuture.org/">Fight for the Future</a> will post your comment to the <a href="https://www.regulations.gov/#!documentDetail;D=COLC-2015-0013-0002">U.S. Copyright docket</a>. Your name and comment will be publicly visible. We will email you campaign updates. <a href="https://www.fightforthefuture.org/privacy">Privacy policy</a>
  </p>
  <input type="hidden" name="utf8" value="✓">
  <input type="hidden" name="authenticity_token" value="0T4Obtb0NSc88GcP+W4S67iTV1B9UhTVWbk6UjKj7+o="/>
  <input type="hidden" name="subscription[tag_list]" value='["copyright"]'/>
  <input type="hidden" name="subscription[group]" value="13162" id="name_optin1" />
  <input type="hidden" name="subscription[sub_group_id]" value="13162">
  <input type="hidden" name="subscription[http_referer]" value="{{ site.url }}{{ page.url }}"/>
  <input type="hidden" name="subscription[source]" value="www"/>
</form>
